node_modules
**/node_modules
**/dist
**/.cache
attached_assets
.git
.gitignore
.replit
replit.nix
.local
frontend/
laravel-vite-package.json
vite.config.js
# vendor/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/
bootstrap/cache/
*.log
.env
.env.*
!.env.example
render.yaml
DEPLOY-INFINITYFREE.md
gentongmas-infinityfree.zip
tests/
phpunit.xml
README.md
railway.toml
Dockerfile
